# Ignore node_modules folder
node_modules/

# Ignore logs
logs
*.log
npm-debug.log*

# Ignore build directories
dist/
build/

# Ignore environment variable files
.env
.env.local
.env.development
.env.test
.env.production

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore coverage reports
coverage/

# Ignore package-lock.json (optional, if you don't want to lock dependencies)
 package-lock.json
